
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}

<style>
    body {
        background-color: white;
    }
    body {
                background-image:url("/UploadedFiles/5.png");
                background-repeat: no-repeat;
                background-size: 500px 500px;

            }

    .div1 {
        background-color: white;
        padding: 10px;
        margin: 150px 450px;
        border: 50px black;
        border-radius: 5px;
        height: 250px;
        width: 400px;
        text-align: left;
    }

    .button {
        height: 40px;
        width: 80px;
        background-color: lightblue;
    }
</style>

<body style="background-color:lightblue">
    <div class="div1">
        <h1 style="color:black;font-family:Verdana; text-align: center; font-family:'Comic Sans MS'">***Forget Password***</h1>

        <form action="~/User/SaveEmail" method="get">
            <table>
                <tr>
                    <td><h2 style="font-family:'Comic Sans MS'">Type Email:</h2></td>
                    <td>
                        <input type="email" name="email" id="email" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="button" value="Reset" name="btn1" id="btn1" />
                    </td>
                </tr>
            </table>
        </form>
    </div>


</body>

