
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}

<style>
    div {
        margin: 100px 200px;
        padding: 10px;
        text-align: center;
        width: 500px;
    }

    .button {
        height: 40px;
        width: 80px;
        background-color: lightblue;
    }
    body {
                background-image:url("/UploadedFiles/6.png");
                background-repeat: no-repeat;
                background-size: 500px 500px;

            }
</style>
<body style="background-color:mediumpurple">
    <div>
        <h1 style="font-family:'Comic Sans MS'">Enter New Password:</h1>
        <form action="~/User/ResetPassword" method="get">
            <input type="password" name="code" id="code" required /><br /><br />
            <input class="button" type="submit" name="btn" id="btn" value="Update" />
        </form>

    </div>


</body>
